.main-container {
  width: 100%;
  max-width: 104rem;
  min-height: calc(100vh - 16rem);
  padding: 4.15rem 0;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 31.7rem;
  column-gap: 3.6rem;
}
